:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: sans-serif;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

html, body {
  margin: 0;
}